<style type="text/css">
 
/*---basics---*/
body {
background:#f8f8f8;
margin:0px;
color:{color:text};
font-family:'Montserrat', sans-serif;
font-size:11px;
line-height:150%;
text-align:left;
}
 
a {
color:{color:link};
text-decoration:none;
}
 
a:hover {
color:{color:link hover};
text-decoration:none;
}
 
b {
color:{color:bold};
}
 
i {
color:{color:italic};
}
 
u {
color:{color:underline};
}
 
h1 {
font-family:'Lato', sans-serif;
font-size:14px;
font-weight:normal;
text-transform:uppercase;
letter-spacing:3px;  
text-align:center;
}
 
h2 {
font-family:'Abril Fatface', cursive;
font-size:16px;
font-weight:normal;
text-transform:lowercase;
letter-spacing:3px;  
text-align:center;
}
 
blockquote {
padding-left:10px;
margin:10px;
border-left:1px solid #eee;
}
 
/*---scrollbar---*/
::-webkit-scrollbar {
width:3px;
background:#f8f8f8;
border:0px solid #000;
}
 
::-webkit-scrollbar-thumb {
background:{color:scrollbar};
border:0px solid #000;
}
 
/*---tooltip---*/
#s-m-t-tooltip {
max-width:300px;
margin:15px;
padding:2px 8px;
border:1px solid #eee
border-radius:4px;
background:#fff;
color:{color:text};
z-index:999999;
font-size:8px;
text-transform:lowercase;
box-shadow:1px 1px 3px rgba(0,0,0,.1);
}
 
/*---top navigation---*/
#topnavigation {
background:{color:top navigation background};
width:100%;
height:32px;
}
 
#topnavigation a {
margin-right:35px;    
font-family:'Lato', sans-serif;
font-size:8px;
color:#fff;
text-transform:uppercase;
letter-spacing:3px;
color:{color:top navigation links};
}
 
.topnavigation {
padding-top:8px;    
padding-left:150px;    
}
 
/*---search---*/
.search {
margin-left:30%;    
margin-top:-19px;
}
 
.searchbox input {
background-color:#fff;
font-family:'Lato', sans-serif;
text-transform:uppercase;
font-size:9px;  
border:0px;
margin-top:0px;
color:{color:text};
letter-spacing:1px;
padding:4px 8px;
}
 
/*---blogtitle & blogsubtitle---*/
#top {
background:#fff;
width:100%;
height:160px;
margin-bottom:0px;  
z-index:999;
background-position:center;
color:#000;
}
 
.title {
font-family:'Abril Fatface', cursive;
text-transform:uppercase;
text-align:center;
font-size:38px;
padding-top:60px;
}
 
.subtitle {
font-family:'Lato', sans-serif;    
text-transform:uppercase;
text-align:center;
font-size:8px;
padding-top:20px;
letter-spacing:3px;
}
 
/*---navigation---*/
#navigation {
margin:auto;
padding-bottom:20px;
background:#fff;
width:100%;
color:#000;
}
 
#navigation a {
margin-left:17px;    
margin-right:17px;    
font-family:'Lato', sans-serif;
text-transform:uppercase;
font-size:9px;
letter-spacing:3px;
color:{color:link};
}
 
.navigation {
margin:auto;
padding:10px;
background:#fff;  
width:55%;
border-top:1px solid {color:border};
border-bottom:1px solid {color:border};
text-align:center;
}
 
/*---tumblr controls---*/
iframe.tmblr-iframe {
z-index:99999999999999!important;
top:-2px!important;
right:0!important;
opacity:0;
padding-right:38px;
transform:scale(0.65);
transform-origin:100% 0;
-webkit-transform:scale(0.65);
-webkit-transform-origin:100% 0;
-o-transform:scale(0.65);
-o-transform-origin:100% 0;
-moz-transform:scale(0.65);
-moz-transform-origin:100% 0;
-ms-transform:scale(0.65);
-ms-transform-origin:100% 0;
}
 
iframe.tmblr-iframe:hover {
opacity:0.6!important;
}
 
.hcontrols {
position:fixed;
top:0;
right:0;
z-index:999999999;
}
 
.hcontrols svg {
width:14px;
height:14px;
padding:9px;
}
 
.hcontrols svg path {
fill:#fff;
}
 
/*---header---*/
#header {
width:100%;
height:375px;
background-image:url({image:header});
background-position:center;
background-repeat:repeat;    
}
 
/*---latest posts---*/
#latestposts {
margin:auto;
margin-top:-40px;
padding:10px;
width:894px;
text-align:center;
background:#fff;
}
 
.ji-tumblr-photos img {
opacity:1;  
-webkit-filter: grayscale(40%);
filter: grayscale(40%);
}
 
.ji-tumblr-photos img:hover {
opacity:1;
transition:all 0.5s;
-webkit-transition:all 0.5s;
-moz-transition:all 0.5s;
-webkit-filter: contrast(125%);
filter: contrast(125%);
}
 
/*---container---*/
#container {
margin:auto;
margin-top:35px;
padding:0px;
width:1200px;
background:#f8f8f8;
min-height:3050px;  
}
 
/*---sidebar---*/
#sidebar {
float:left;
margin-left:65px;
width:450px;
min-height:3050px;
}
 
.welcome {
margin-top:-5px;    
width:430px;    
padding:10px;
background:{color:top navigation background};
color:{color:top navigation links};
}
 
.sidebarimg img {
width:450px;
height:300px;
}
 
.category {
margin-top:15px;    
width:430px;
padding:10px;
background:{color:sidebar title background};
text-align:center;
font-family:'Abril Fatface', cursive;
font-size:14px;
text-transform:uppercase;
}
 
.about {
width:430px;
padding:10px;
background:#fff;
}
 
.about date {
display:inline-block;    
margin-right:20px;
width:45px;
border-bottom:1px dotted {color:border};  
padding:5px;
text-transform:uppercase;
letter-spacing:1px;
}
 
.about span {
display:inline-block;
width:340px;
border-bottom:1px dotted {color:border};  
padding:5px;
}
 
.projects {
width:430px;
padding:10px;
background:#fff;    
}
 
.projects img {
width:100px;
height:100px;
margin-right:25px;
}
 
.projects span {
display:inline-block;
background:#fafafa;
padding:5px;
margin-right:5px;
text-transform:uppercase;
font-weight:bold;
letter-spacing:1px;
}
 
.affiliates {
width:430px;
padding:10px;
background:#fff;
text-align:center;
}
 
.affiliates img {
width:50px;
height:50px;
border:5px solid {color:border};
margin-left:2px;
margin-right:2px;
}
 
.affiliates img:hover {
opacity:0.6;
transition: all 0.5s;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
}
 
.stats {
width:430px;
padding:10px;
background:#fff;
}
 
.stats span {
display: inline-block;
width: 100px;
margin-right:25px;
font-family: 'Lato', sans-serif;
text-transform:uppercase;
letter-spacing:1px;
}
 
/*---entries & posts---*/
#entries {
float:right;
margin-right:65px;
width:600px;
background:#f8f8f8;
min-height:3050px;
}
 
.posts {
margin:auto;
margin-bottom:10px;
width:540px;
padding:10px;
background:#fff;
}
 
.posts img {
max-width:540px;
}
 
.posts li, .posts blockquote {
max-width: 100%;
}
 
.posts li {
list-style: square;
}
 
blockquote img {
max-width:500px!important;
}
 
/*---info---*/
.info {
font-family:'Abril Fatface', cursive;
font-size:14px;
text-transform:uppercase;
text-align:center;
}
 
.info notes {
display:inline-block;    
width:40px;
text-align:center;
padding:6px;
padding-right:9px;
padding-left:9px;
background:{color:sidebar title background};
}
 
.info span {
display:inline-block;    
width:482px;    
text-align:center;
padding:6px;
padding-right:9px;
padding-left:9px;
background:{color:sidebar title background};
}
 
/*---credit---*/
.credit {
position:fixed;
bottom:0px;
left:20px;
padding:2px;
font-size:12px;
font-weight:bold;
z-index:10;
text-align:left;
letter-spacing:3px;
}
 
/*---reblog & like---*/
.controls {
margin-top:10px;    
padding:3px;
text-align:center;
}
 
.controls svg {
width:10px;
height:auto;
opacity:.5;
padding:1px;
display:block;
overflow:visible;
margin-top:7px;
}
 
.controls a {
position:relative;
display:inline-block;
overflow:hidden;
padding:5px;
width:12px;
height:12px;
}
 
.controls .reblog {
opacity:.93;
}
 
.controls .reblog svg {
width:9px;
margin-top:7px;
}
 
.controls .like .liked + svg {
opacity:1;
}
 
.controls .like .liked + svg path {
fill:#ec5a5a;
}
 
.controls .like .like_button {
position:relative;
}
 
.controls .like .like_button iframe {
position:absolute;
top:0;
left:0;
bottom:0;
right:0;
z-index:2;
opacity:0.000001;
}
 
/*---tags---*/
.tags {
margin-top:10px;
margin-bottom:10px;
text-align:center;
text-transform:lowercase;
letter-spacing:1px;
}
 
.tags span {
display: inline-block;      
font-family: 'Lato', sans-serif;    
text-align:center;
padding:6px;
padding-right:9px;
padding-left:9px;
margin-bottom:5px;
background:#f8f8f8;
color:{color:text};    
}
 
/*---notes---*/
.notes {
float:left;    
width:540px;
margin-bottom:40px;
font-size:9px;
}
           
.notes li {
list-style:none;
padding:2px;
margin-bottom:10px;
}
               
.notes li img {
float:right;
width:20px;
}
 
/*---quotes---*/
.quote {
margin-top:15px;    
font-size:14px;
text-align:center;
}
 
.quotesource {
text-align:center;
padding:10px;
letter-spacing:1px;
}
 
/*---chat---*/
.chat {
line-height:20px;
list-style:none;
margin-bottom:20px;
}
 
.line.odd {
list-style:none;
background:#fafafa;
padding:5px;
margin-left:5px;
font-size:10px;
}
 
.line.even {
list-style:none;
background:#fff;
padding:5px;
margin-left:5px;
font-size:10px;
}
 
.label {
padding-right:1px;
text-transform:uppercase;
font-weight:bold;
}
 
/*---questions---*/
.question {
background:#fafafa;
padding:10px;
font-family: 'Lato', sans-serif;
font-size:11px;
letter-spacing:1px;
}
 
.asker {
color:{color:text};    
letter-spacing:1px;
text-align:center;
line-height:150%;
}
 
.answer {
margin-top:25px;
}
 
/*---audio---*/
.audio {
margin-top:100px;    
}
 
.playbutton {
position:relative;
margin-top:45px;
margin-left:44px;
z-index:9;
width:33px;
height:30px;
overflow:hidden;
}
 
.albumart img {
position:relative;
margin-top:-75px;
margin-left:0px
height:120px;
width:120px;
-webkit-border-top-left-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-topleft: 20px;
-moz-border-radius-bottomleft: 20px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}    
 
.trackinfo {
margin-bottom:10px;
background:#000;
color:#eee;
top:-4px;
position:relative;
margin-left:120px;
height:120px;
margin-top:-120px;
-webkit-border-top-right-radius: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-topright: 20px;
-moz-border-radius-bottomright: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
}
 
.trackname {
position:relative;
padding-top:30px;
text-align:center;
font-size:14px;
text-transform:uppercase;
font-weight: bold;
letter-spacing:2px;
}  
 
.artist {
text-align:center;
font-size:12px;
text-transform:uppercase;
letter-spacing:4px;
}
 
.album {
text-align:center;
font-style: italic;
letter-spacing:4px;
}  
 
/*---pagination---*/
#pages {
text-align:center;    
margin-top:30px;
margin-bottom:50px;
text-transform:lowercase;
font-size:14px;
}
 
#pages a {
color:{color:text};    
}
 
#pages span {
padding:7px;
margin-right:5px;
font-size:12px;
text-transform:uppercase;
letter-spacing:1px;
background:#fff;
box-shadow:1px 1px 3px rgba(0,0,0,.1);
}
 
/*---scroll to top---*/
.scroll {
position:fixed;
bottom:10px;
right:20px;
padding:2px;
font-size:14px;
font-weight:bold;
z-index:10;
text-align:right;
letter-spacing:3px;
}
 
</style>
</head>
